/* body {
    background-color: black;
} */



/* .parallax {
background-image: url("image/final-1.jpg");


min-height: 700px;
background-attachment: fixed;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

*/
.parallax-1 {
    /* The image used */
    background-image: url("image/Education/backgrpund.png");

    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-2 {
    /* The image used */
    background-image: url("image/contact.jpg");

    /* Set a specific height */

    height: 500px;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    /* The image used */
    background-image: url("image/Gallery/bg.jpg");
    /* Set a specific height */
    min-height: 700px;
    background-attachment: fixed;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {
    /* The image used */
    background-image: url("image/EXperiemce/bg-1.jpg");
    /* Set a specific height */
    min-height: 500px;
    background-attachment: fixed;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: blue;
}

.logo-margin{
    margin-top: -50px;
}