@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&display=swap');

body {
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
}

.parallax-1 {
    background-image: url("img/backgrpund.png");
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-2 {
    background-image: url("img/contact.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url("img/20.jpg");
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {

    background-image: url("img/bg-1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: blue;
}

.logo-margin {
    margin-top: -50px;
}